
@{
    ViewBag.Title = "DailySale";
    Layout = "~/Views/Shared/_customLayout.cshtml";
}

@if (Session["Admin"] != null)
{
    bool admin = Convert.ToBoolean(Session["Admin"]);
    if (admin)
    {
        <head>
            <link href="~/Content/Statistics.css" rel="stylesheet" />
            <link href="~/Content/Admin.css" rel="stylesheet" />
        </head>

        <div id="container">

            <div class="sidenav">
                <a href="@Url.Action("ProductList", "Admin")">Products</a>
                <a href="@Url.Action("User", "Admin")">User accounts</a>
                @*<a href="@Url.Action("DailySale", "Admin") ">Statistics</a>*@
                <div class="submenu active">
                    <a class="subMenubtn">
                        Statistics
                        <i class="fa fa-caret-down"></i>
                    </a>
                    <div class="submenu-content">

                        @Html.ActionLink(
                   "Daily Sale",                                                  // linkText
                   "DailySale",                                    // actionName
                   "Admin"                                                   // controllerName

              )

                        @Html.ActionLink(
                  "Catagory statistics",                                                  // linkText
                  "CatagorieStatistics",                                    // actionName
                  "Admin"                                                   // controllerName

             )

                        @Html.ActionLink(
                       "User/Order Statistics",                                                  // linkText
                       "UserORderSta",                                    // actionName
                       "Admin"                                                   // controllerName

                  )

                    </div>
                </div>
            </div>


            <div id="productBox">
                <ul id="hornav">
                    <li id="hornav1"><a class="active" href="@Url.Action("DailySale", "Admin")">DailySale</a></li>
                    <li id="hornav1"><a href="@Url.Action("MonthSales", "Admin")" ">Month Sales</a></li>
                    <li id="hornav1"><a href="@Url.Action("YearlySales", "Admin")">Year Sales</a></li>
                </ul>


                @{
                    var DailySale = ViewBag.data;
                }

                <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
                <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
                <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.js"></script>





                <div>
                    @using (Html.BeginForm())
                    {
                        <input id="D1" name="Date1" type="date" value="">
                        <input id="D1" name="Date2" type="date" value="">
                        <a href='@Url.Action("DailySale", "Admin")'>
                            <input id="Dsubmit" type="submit" value='Submit' />
                        </a>
                    }
                </div>

                <div class="container">
                    <canvas id="DailySale"></canvas>
                </div>
                <script>
    var DailySale = document.getElementById('DailySale').getContext('2d');

    //Global Options
    Chart.defaults.global.defaultFontFamily = 'lato';
    Chart.defaults.global.defaultFontSize = 18;
    Chart.defaults.global.defaultFontColor = '#777';

    var DailySale = new Chart(DailySale, {
        type: 'bar',
        data: {
            labels: ["@DailySale[2]"+"/"+"@DailySale[3]"+"/"+"@DailySale[4]","@DailySale[5]"+"/"+"@DailySale[6]"+"/"+"@DailySale[7]"],
            datasets: [{
                lable: 'Daily Sale',
                data: [@DailySale[0], @DailySale[1]],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.6)',
                    'rgba(54, 162, 235, 0.6)'
                ],
                borderColor: '#777',
                borderWidth: 1
            }]
        },
        options: {
            title: {
                display: true,
                text: 'Daily Sale wil compare the sales of two chosen dates in euros select the two date and then press on submit to see the chart',
                fontSize: 25
            },
            legend: {
                display: false,
                position: 'right',
                labels: {
                    fontColor: '#000'
                }

            },
            layout: {
                padding: {
                    left: 50,
                    right: 0,
                    bottom:0,
                }
            },
            gridlines: {
                display: false
            },
            scales: {
                yAxes: [{

                    ticks: {
                        beginAtZero: true
                    },
                    scaleLabel: {
                        display: true,
                        labelString: 'Euro'
                    }
                }],
                xAxes: [{

                    ticks: {
                        beginAtZero: true
                    }

                }]
            }
        }
    });
                </script>
            </div>
        </div>
    }
    else
    {
        Response.Redirect("/Home/Index");
    }
}

else
{
    Response.Redirect("/Login");

}