@model IEnumerable<webtest.Models.Book>
@{
    ViewBag.Title = "Favorites";
    Layout = "~/Views/Shared/_customLayout.cshtml";
}


<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

@foreach (var m in Model)
{
    <!-- De ForEachLoop zorgt ervoor dat alle producten met verschillende waardes en dezelfde opmaak onder elkaar worden geplaatst.-->
    <div id="product">

        <a href="@Url.Action("Index", "Product", new { Title = m.Name })">
            <img id="productImg" src="@m.Image_src" />
        </a>

        <label id="price">€@m.Price</label>
        <a href="@Url.Action("Index", "Product", new { Title = m.Name }) " id="title">@m.Name</a>
        <!-- Change to author-->
        <label id="author">@m.Author</label>
        @switch (m.Rating)
        {
            case 1:
                <img id="rating" src="~/Content/Images/Rating1Star.png" />
                break;
            case 2:
                <img id="rating" src="~/Content/Images/Rating2Star.png" />
                break;
            case 3:
                <img id="rating" src="~/Content/Images/Rating3Star.png" />
                break;
            case 4:
                <img id="rating" src="~/Content/Images/Rating4Star.png" />
                break;
            case 5:
                <img id="rating" src="~/Content/Images/Rating5Star.png" />
                break;
        }

        <label id="summary">
            @{string mktText = m.Summary;
                if (mktText == null)
                {
                    mktText = "";
                }
                else
                {
                    if (mktText.Length > 250)
                    {
                        int pos = mktText.LastIndexOf(" ", 250);

                        mktText = mktText.Substring(0, pos) + "...";
                    }
                }
            }
            @mktText;
        </label>

        <button id="btnCart">ADD TO CART</button>


        <label id="priceSmall">@m.Price</label>
        <a href="@Url.Action("Index", "Product", new { Title = m.Name }) " id="moreInfo">More info</a>


        <a href="" id="moreInfoSmall">More info</a>


        <img id="stripe" src="~/Content/Images/stripe.png" />



    </div>
}


