@model IEnumerable<webtest.Models.Book>
@using webtest.Models
@{
    ViewBag.Title = "Favorites";
    Layout = "~/Views/Shared/_customLayout.cshtml";
}

<head>
    <link href="~/Content/FavoritePage.css" rel="stylesheet" />
</head>

<div id="container">
    <div id="results">
        <div id="txtTitle">Favorites List</div>
        <img id="stripe" src="~/Content/Images/stripe.png" />

        @{var count = Model.Count();}

        @if (count == 0)
        {
            <a href="@Url.Action("Index", "Home")" id="txtEmpty">Click here to start shopping</a>
        }

        @foreach (var m in Model)
        {
            <!-- De ForEachLoop zorgt ervoor dat alle producten met verschillende waardes en dezelfde opmaak onder elkaar worden geplaatst.-->
            <div id="product">

                <a href="@Url.Action("Index", "Product", new { Title = m.Name, summary = m.Summary })">
                    <img id="productImg" src="@m.Image_src" />
                </a><br />

                <a href="@Url.Action("Index", "Favorites", new { delete = m.ISBN}) " id="btnWishList">x</a>

                <a href="@Url.Action("Index", "Product", new { Title = m.Name, summary = m.Summary }) " id="title">@m.Name</a><br />
                <label id="author">@m.Author</label><br />

                @switch (m.Rating)
                {
                    case 1:
                        <img id="rating" src="~/Content/Images/Rating1Star.png" />
                        break;
                    case 2:
                        <img id="rating" src="~/Content/Images/Rating2Star.png" />
                        break;
                    case 3:
                        <img id="rating" src="~/Content/Images/Rating3Star.png" />
                        break;
                    case 4:
                        <img id="rating" src="~/Content/Images/Rating4Star.png" />
                        break;
                    case 5:
                        <img id="rating" src="~/Content/Images/Rating5Star.png" />
                        break;
                } <br />

                <label id="price">€@m.Price</label><br />

                @*<button id="btnCart">ADD TO CART</button>*@
                @{
                    if (Session["User_id"] != null)
                    {
                        var dbCart = new DatabaseEntities1();
                        var listCart = dbCart.Carts.Select(s => s);
                        double isbnDCart = Convert.ToDouble(m.ISBN);
                        int User_id_Cart = Convert.ToInt32(Session["User_id"]);

                        bool hasCart = listCart.Any(cus => cus.ISBN == isbnDCart && cus.User_id == User_id_Cart);

                        if (hasCart)
                        {
                            <a href="@Url.Action("Index", "Favorites", new {cart = m.ISBN})" id="btnCart">Remove From Cart</a>
                        }
                        else
                        {
                            <a href="@Url.Action("Index", "Favorites", new {cart = m.ISBN})" id="btnCart">Add to Cart</a>
                        }


                    }
                }


            </div>
        }
    </div>
</div>

