@model webtest.Models.User
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_customLayout.cshtml";
}

<head>
    <link href="~/Content/Login.css" rel="stylesheet" type="text/css" />
</head>
<div class="login-card">
    <h1>Login</h1>
    @using (Html.BeginForm("Authorize", "Login", FormMethod.Post))
    {
        @Html.TextBoxFor(model => model.Email, new { placeholder = "Email" })
        @Html.ValidationMessageFor(model => model.Email)
        @Html.TextBoxFor(model => model.Password, new { placeholder = "Password" , @type = "password" })
        @Html.ValidationMessageFor(model => model.Password)
        <label class="field-validation-error">@Html.DisplayFor(model => model.LoginErrorMessage)</label>
        <input type="submit" name="name" class="login login-submit" value="login" />
        <div class="login-help">
            <a href="@Url.Action("ForgotPassword", "Login")">> Forgot Password?</a>
        </div>

        <div class="login-join">
            <p>New to BoekStore? <a href="@Url.Action("Registration", "Register")">Create an account</a></p>
        </div>
    }
</div>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</body>