@*@model webtest.Models.Book*@
@using PagedList;
@using PagedList.Mvc;
@model List<webtest.Models.Book>
@using webtest.Models;

@{
    ViewBag.Title = "ShoppingCart";
    Layout = "~/Views/Shared/_customLayout.cshtml";
}

<head>
    <link href="~/Content/ShoppingCart.css" rel="stylesheet" />
</head>

<div id="container">
    <div id="results">

        <img id="stripe" src="~/Content/Images/stripe.png" />

        <!-- SHOW PRODUCTS-->
        <!-- Check of er producten zijn gevonden-->
        @if (Model.Count == 0)
        {
            <text> No products in the shopping cart yet.</text>
        }
        <!-- ForEachLoop door alle producten die zijn opgehaald uit de database.-->
        <!-- Elke product krijgt dezelfde opmaak in <div id="procuct"> ..... </div> -->
        <!-- Alle waardes worden opgehaald uit de database en ingevuld op de juiste plekken -->
        @foreach (var m in Model)
        {
            <!-- De ForEachLoop zorgt ervoor dat alle producten met verschillende waardes en dezelfde opmaak onder elkaar worden geplaatst.-->
        <div id="product">
            <img id="productImg" src="@m.Image_src" />
            @{
                if (Session["User_id"] != null)
                {
                    var db = new DatabaseEntities1();
                    var item = db.Carts.Where(x => x.ISBN == m.ISBN).FirstOrDefault();
                    <label id="priceBookTotal">€@(m.Price * item.Quantity)</label>
                }
                else
                {
                    <label id="priceBookTotal">€@(m.Price * Convert.ToInt32(ViewData[m.ISBN.ToString()]))</label>
                }
            }
            
            <label id="title">@m.Name</label>
            <label id="author">@m.Author</label> <br />
            <label id="price">€@m.Price</label>
        </div>
            if (Session["User_id"] != null)
            {
                <a href="@Url.Action("ShoppingCart", "Home", new {del = m.ISBN})" id="deleteButton">Delete Product</a>
            }
            else
            {
                <a href="@Url.Action("ShoppingCart", "Home", new {isbn = m.ISBN, delete = true})" id="deleteButton">Delete Product</a>
            }


                <div id="amountBox">
                    <a href="@Url.Action("ShoppingCart", "Home", new {isbn = m.ISBN, min = true})" id="minButton">-</a>
                    @{
                        if (Session["User_id"] != null)
                        {
                            var db = new DatabaseEntities1();
                            var item = db.Carts.Where(x => x.ISBN == m.ISBN).FirstOrDefault();
                            <a id="amount">@item.Quantity</a>
                        }
                        else
                        {
                            <a id="amount">@ViewData[m.ISBN.ToString()]</a>
                        }
                    }
                    <a href="@Url.Action("ShoppingCart", "Home", new {isbn = m.ISBN, plus = true})" id="plusButton">+</a>
                </div>

            <img id="stripe" src="~/Content/Images/stripe.png" />
        }
    </div>

    <div id="checkout">

        <label id="payment">Payment</label>
        <div id="checkOutBox">
            <div id="totalBox">
                <label id="delivery">Delivery</label> <br />
                <label id="total">Total Price</label>
            </div>
            <div id="priceBox">
                <label id="deliveryPrice">€0</label></br>
                @{
                    if (ViewBag.totalPrice == null)
                    {
                        <label id="totalPrice">€0</label>
                    }
                    else
                    {
                        <label id="totalPrice">€@ViewBag.totalPrice</label>
                    }
                }

            </div>


            @{
                if (Session["User_id"] != null)
                {
                    <a href="@Url.Action("Address", "Checkout", new {})" id="btnCheckOut">Checkout</a>
                }
                else
                {
                    var cart = (Dictionary<Book, int>)Session["Cart"];
                    if (cart.Count != 0)
                    {
                    <a href="@Url.Action("Index", "Checkout", new {})" id="btnCheckOut">Checkout</a>
                    }
                }

            }
        </div>
    </div>
</div>

