@using webtest.Models
@model Tuple<Order, OrderDetail, Payment>
@{
    ViewBag.Title = "OrderDetails";
    Layout = "~/Views/Shared/_customLayout.cshtml";
    <head>
        <link href="~/Content/OrderHistory.css" rel="stylesheet" />
    </head>
}



<h3>Order Number: @Model.Item1.Order_Number</h3>

<h1>Personal Info</h1>
<p>@Model.Item2.Name</p>
<p>@Model.Item2.Surname</p>
<p>@Model.Item2.Email</p>

<h1>Address Info</h1>
<p>@Model.Item2.Street_Name</p>
<p>@Model.Item2.House_number</p>
<p>@Model.Item2.Zip_code</p>
<p> @Model.Item2.Country</p>



<table>
    <tr>
        <th>Quantity</th>
        <th>Title</th>
        <th>Book Price</th>
        <th>Total</th>

    </tr>

    @{
        Dictionary<Book, int> bookQuantity = (Dictionary<Book, int>)Session["Checkout"];
        decimal sum = 0;

        foreach (var book in bookQuantity)
        {

            decimal total = book.Key.Price * Convert.ToDecimal(book.Value);
            sum += total;
            <tr>
                <td>@book.Value</td>
                <td>@book.Key.Name</td>
                <td>@book.Key.Price</td>
                <td>@total</td>

            </tr>


        }

    }
</table>
<p>                                                                     Sub Total: @sum</p>




