@model Tuple<User, Address>
@using webtest.Models;
@{
    ViewBag.Title = "Address";
    Layout = "~/Views/Shared/_customLayout.cshtml";
}

<h2>INPUT ADDRESS HERE</h2>
<div id="wrapper">
    <div id="personal">
        <h1>Personal Info</h1>
        @{
            if (Session["User_id"] != null)
            {
                using (var db = new DatabaseEntities1())
                {
                    int User_id = Convert.ToInt32(Session["User_id"]);
                    var user = db.Users.Where(x => x.User_id == User_id).FirstOrDefault();

                    @Html.EditorFor(model => model.Item1.Name, new { htmlAttributes = new { @class = "form-control", placeholder = "Name" } })
                    @Html.ValidationMessageFor(model => model.Item1.Name, "", new { @class = "text-danger" })
                    <input type="text" name="FirstName" placeholder="First Name" , value="@user.Name"><br>
                    <input type="text" name="LastName" placeholder="Last Name" , value="@user.Surname"><br>
                    <input type="text" name="Email" placeholder="Email" , value="@user.Email"><br>
                    <input type="text" name="PhoneNumber" placeholder="Phone Number" , value="@user.Phone_number"><br>
                }
            }
            else
            {
                <input type="text" name="FirstName" placeholder="First Name"><br>
                <input type="text" name="LastName" placeholder="Last Name"><br>
                <input type="text" name="Email" placeholder="Email"><br>
                <input type="text" name="PhoneNumber" placeholder="Phone Number"><br>
            }
        }
    </div>
    @using (Html.BeginForm("Address", "Checkout", FormMethod.Post))
    {
        <div id="address">
            <h1>Address Info</h1>
            <input type="text" name="Street" placeholder="Street"><br>
            <input type="text" name="HouseNumber" placeholder="HouseNumber"><br>
            <input type="text" name="City" placeholder="City"><br>
            <input type="text" name="ZipCode" placeholder="ZipCode"><br>
            <input type="text" name="Country" placeholder="Country"><br>
        </div>

        <input type="submit" value="Create" />
    }

</div>

<link rel="stylesheet" type="text/css" href="Address.css">
@{
    if (Session["User_id"] != null)
    {
        <input type="checkbox" name="save" value="Save"> <text>Save info for next time</text>
    }
}

<br />
<br />
<a href="@Url.Action("Payment", "Checkout", new {})">Continue</a>
