@model webtest.Models.User
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_customLayout.cshtml";
}

<head>
    <link href="~/Content/CheckoutUnregistered.css" rel="stylesheet" type="text/css" />
</head>

<div class="login-card">
    <div class="continue-form">
        <h1>Login</h1>
        @using (Html.BeginForm("Authorize", "Checkout", FormMethod.Post))
        {
        <div class="form-group">
            <label for="email"> <b>Email</b> </label>
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control, email", placeholder = "Email" } })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <label for="password"> <b>Password</b> </label>
            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", placeholder = "Password" } })
        </div>

            <label class="field-validation-error">@Html.DisplayFor(model => model.LoginErrorMessage)</label>
            <input type="submit" name="name" class="login login-submit" value="Login" />
            <div class="login-help">
                <a href="@Url.Action("ForgotPassword", "Register")"> Forgot Password?</a>
            </div>

            <div class="login-join">
                <p>New to Books'R'US? <a href="@Url.Action("Registration", "Register", new { checkout = true })">Create an account</a></p>
            </div>
        }
    </div>

    <div class="continue-form">

        <h1>Continue ordering</h1>
        <a href="@Url.Action("Address", "Checkout", new {})">Continue</a>
    </div>

</div>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>