@using webtest.Models
@model Dictionary<User, Address>
@{
    ViewBag.Title = "Review";
    Layout = "~/Views/Shared/_customLayout.cshtml";
}
<link href="~/Content/SearchResults.css" rel="stylesheet" />
<h2>Review</h2>
<p>Please check if all the information is correct before continuing.</p>
<a if ( Session["User_id"] != null)
   {
        href="@Url.Action("PaymentRegistered", "Checkout", new { })"
   }
   else{
        href="@Url.Action("PaymentUnRegistered", "Checkout", new { })"
   }
   >Continue</a>

@{
    var cart = (Dictionary<Book, int>)Session["Cart"];
    foreach (KeyValuePair<User, Address> kv in Model)
    {
        <h1>Personal Info</h1>
        <p>@kv.Key.Name</p>
        <p>@kv.Key.Surname</p>
        <p>@kv.Key.Email</p>
        <p>@kv.Key.Phone_number</p>

        <h1>Address Info</h1>
        <p>@kv.Value.Street_name</p>
        <p>@kv.Value.House_number</p>
        <p>@kv.Value.City</p>
        <p>@kv.Value.Zip_code</p>
        <p>@kv.Value.Country</p>

        <h1>Book List</h1>
        if (Session["User_id"] != null)
        {
            Dictionary<Book, int> bookDict = new Dictionary<Book, int>();
            var User_id = Convert.ToInt32(Session["User_id"]);
            decimal totalPrice = 0;

            using (var db = new DatabaseEntities1())
            {
                var a = db.Carts.Where(x => x.User_id == User_id).ToList();
                foreach (var item in a)
                {
                    Book bookObj = db.Books.Where(x => x.ISBN == item.ISBN).FirstOrDefault();
                    bookDict.Add(bookObj, item.Quantity);
                }


            }
            foreach (KeyValuePair<Book, int> kv2 in bookDict)
            {
                decimal price = kv2.Key.Price * kv2.Value;
                totalPrice += price;
                <img id="productImg" src="@kv2.Key.Image_src" />
                <label id="price">€@price</label>
                <a id="title">@kv2.Key.Name</a>
                <!-- Change to author-->
                <label id="author">@kv2.Key.Author</label>
                switch (kv2.Key.Rating)
                {
                    case 1:
                        <img id="rating" src="~/Content/Images/Rating1Star.png" />
                        break;
                    case 2:
                        <img id="rating" src="~/Content/Images/Rating2Star.png" />
                        break;
                    case 3:
                        <img id="rating" src="~/Content/Images/Rating3Star.png" />
                        break;
                    case 4:
                        <img id="rating" src="~/Content/Images/Rating4Star.png" />
                        break;
                    case 5:
                        <img id="rating" src="~/Content/Images/Rating5Star.png" />
                        break;
                }

                <label id="summary">
                    @{string mktText = kv2.Key.Summary;
                        if (mktText == null)
                        {
                            mktText = "";
                        }
                        else
                        {
                            if (mktText.Length > 200)
                            {
                                int pos = mktText.LastIndexOf(" ", 200);

                                mktText = mktText.Substring(0, pos) + "...";
                            }
                        }
                    }
                    @mktText
                </label>
                <a id="moreInfo">Quantity = @kv2.Value</a>
                <br />
                <br />

            }
            ViewBag.totalPrice = totalPrice;
            Session["TotalPrice"] = totalPrice;
        }
        else
        {
            decimal totalPrice = 0;
            foreach (KeyValuePair<Book, int> kv2 in cart)
            {
                decimal price = kv2.Key.Price * kv2.Value;
                totalPrice += price;

                <img id="productImg" src="@kv2.Key.Image_src" />
                <label id="price">€@price</label>
                <a id="title">@kv2.Key.Name</a>
                <!-- Change to author-->
                <label id="author">@kv2.Key.Author</label>
                switch (kv2.Key.Rating)
                {
                    case 1:
                        <img id="rating" src="~/Content/Images/Rating1Star.png" />
                        break;
                    case 2:
                        <img id="rating" src="~/Content/Images/Rating2Star.png" />
                        break;
                    case 3:
                        <img id="rating" src="~/Content/Images/Rating3Star.png" />
                        break;
                    case 4:
                        <img id="rating" src="~/Content/Images/Rating4Star.png" />
                        break;
                    case 5:
                        <img id="rating" src="~/Content/Images/Rating5Star.png" />
                        break;
                }

                <label id="summary">
                    @{string mktText = kv2.Key.Summary;
                        if (mktText == null)
                        {
                            mktText = "";
                        }
                        else
                        {
                            if (mktText.Length > 200)
                            {
                                int pos = mktText.LastIndexOf(" ", 200);

                                mktText = mktText.Substring(0, pos) + "...";
                            }
                        }
                    }
                    @mktText
                </label>
                <a id="moreInfo">Quantity = @kv2.Value</a>
                <br />
                <br />

            }
            ViewBag.totalPrice = totalPrice;
            Session["TotalPrice"] = totalPrice;

        }


        <h1>Total price</h1>
        <p>€@ViewBag.totalPrice</p>
    }
}