<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/Main.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css'>
</head>
<body>

    <header>
        <div class="container">

            <a class="logo" href="@Url.Action("Index", "Home")">Books'<span>R'Us</span></a>

            <nav class="site-nav">
                <ul>
                    @if (Session["User_id"] != null)
                    {
                        <li><a href="@Url.Action("OrderHistory", "OrderHistory")"><i class="fa fa-eye site-nav--icon"></i>Order History</a></li>
                        <li><a href="@Url.Action("Index", "Favorites")"><i class="fa fa-star site-nav--icon"></i>Favorites</a></li>
                    }

                    @if (Session["Admin"] != null)
                    {
                        <li><a href="@Url.Action("Product", "Admin")"><i class="fa fa-eye site-nav--icon"></i>Admin</a></li>
                    }

                    <li><a href="@Url.Action("ShoppingCart", "Home")"><i class="fa fa-shopping-cart site-nav--icon"></i> Cart</a></li>

                    <!--Check of de user is ingelogd-->
                    @if (Session["User_id"] == null && Session["Admin"] == null)
                    {
                        <li><a href="@Url.Action("Index", "Login")"><i class="fa fa-user site-nav--icon"></i>Login</a></li>
                    }
                    else if (Session["Admin"] != null || Session["Admin"] == null)
                    {
                        <li><a href="@Url.Action("Logout", "Login")"><i class="fa fa-user site-nav--icon"></i>Logout</a></li>
                    }

                </ul>
            </nav>
            <div class="menu-toggle">
                <div class="hamburger"></div>
            </div>

        </div>
    </header>

    <nav class="nav2">
        <ul>
            <div class="wrap">
                <div class="search">
                    <!-- GET request aan de Results View van de Product controller.-->
                    <!-- Data in de zoekbar wordt meegegeven aan de Results Action in de Products Controller-->
                    @using (Html.BeginForm("Results", "Product", FormMethod.Get))
                    {
                        <input type="text" name="MinPrice" , value="@Request.QueryString["MinPrice"]" style="display:none">
                        <input type="text" name="MaxPrice" , value="@Request.QueryString["MaxPrice"]" style="display:none">
                        <input type="text" name="Order" , value="@Request.QueryString["Order"]" style="display:none">
                        <input type="text" name="Rating" , style="display:none" value="@Request.QueryString["Rating"]">
                        <input type="text" name="Category" , style="display:none" value="@Request.QueryString["Category"]">
                        <div id="searchBar">
                        @Html.TextBox("Search")
                        <button type="submit" class="searchButton">
                            <i class="fa fa-search"></i>
                        </button>
                        </div>
                    }
                </div>
            </div>
        </ul>
    </nav>
    <div class="nav3">
        <a href="@Url.Action("Results", "Product", new {Category = "Fiction"}, null)">Fiction</a>
        <a href="@Url.Action("Results", "Product", new {Category = "Biography"}, null)">Biography</a>
        <a href="@Url.Action("Results", "Product", new {Category = "Sports"}, null)">Sports</a>
        <a href="@Url.Action("Results", "Product", new {Category = "Art & Photography"}, null)">Art & Photography</a>
        <a href="@Url.Action("Results", "Product", new {Category = "Science & Nature"}, null)">Science & Nature</a>
        <a href="@Url.Action("Results", "Product", new {Category = "Business"}, null)">Business</a>
        <a href="@Url.Action("Results", "Product", new {Category = "Education"}, null)">Education</a>
        <a href="@Url.Action("Results", "Product", new {Category = "Food & Drink"}, null)">Food & Drink</a>
        <a href="@Url.Action("Results", "Product", new {Category = "Style & Beauty"}, null)">Style & Beauty</a>

        <div class="dropdown">
            <button class="dropbtn">
                Categories
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">

                @Html.ActionLink(
                     "Diet & Fitness",                                                  // linkText
                     "Results",                                    // actionName
                     "Product",                                                   // controllerName
                     new {                                                     // routeValues
                         Category = "Diet & Fitness"
                     },
                     null                                                      // htmlAttributes
                )

                @Html.ActionLink(
                    "History & Politics",                                                  // linkText
                    "Results",                                    // actionName
                    "Product",                                                   // controllerName
                    new {                                                     // routeValues
                        Category = "History & Politics"
                    },
                    null                                                      // htmlAttributes
               )

                @Html.ActionLink(
                     "Home & Garden",                                                  // linkText
                     "Results",                                    // actionName
                     "Product",                                                   // controllerName
                     new {                                                     // routeValues
                         Category = "Home & Garden"
                     },
                     null                                                      // htmlAttributes
                )

                @Html.ActionLink(
                     "Mind Body Spirit",                                                  // linkText
                     "Results",                                    // actionName
                     "Product",                                                   // controllerName
                     new {                                                     // routeValues
                         Category = "Mind Body Spirit"
                     },
                     null                                                      // htmlAttributes
                )

                @Html.ActionLink(
                     "Parenting",                                                  // linkText
                     "Results",                                    // actionName
                     "Product",                                                   // controllerName
                     new {                                                     // routeValues
                         Category = "Parenting"
                     },
                     null                                                      // htmlAttributes
                )
            </div>
        </div>
    </div>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js'></script>

    <script src="~/Scripts/Test.js"></script>

    <div>
        @RenderBody()
    </div>
</body>
</html>
