<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/Main.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css'>
</head>
<body>

    <header>
        <div class="container">

            <a class="logo" href="@Url.Action("Index", "Home")">Books'<span>R'Us</span></a>

            <nav class="site-nav">
                <ul>
                    <li><a href="@Url.Action("OrderStatus", "Home")"><i class="fa fa-eye site-nav--icon"></i>Order Status</a></li>
                    <li><a href="@Url.Action("WishList", "Home")"><i class="fa fa-heart site-nav--icon"></i>Wishlist</a></li>

                    <!--Check of de user is ingelogd-->
                    @if (Session["User_id"] == null)
                    {
                        <li><a href="@Url.Action("Index", "Login")"><i class="fa fa-user site-nav--icon"></i>Login</a></li>
                    }
                    else
                    {
                        <li><a href="@Url.Action("Logout", "Login")"><i class="fa fa-user site-nav--icon"></i>Logout</a></li>
                    }

                </ul>
            </nav>
            <div class="menu-toggle">
                <div class="hamburger"></div>
            </div>

        </div>
    </header>

    <nav class="nav2">
        <ul>
            <div class="wrap">
                <div class="search">
                    <!-- GET request aan de Results View van de Product controller.-->
                    <!-- Data in de zoekbar wordt meegegeven aan de Results Action in de Products Controller-->
                    @using (Html.BeginForm("Results", "Product", FormMethod.Get))
                    {
                        @Html.TextBox("Search") <button type="submit" class="searchButton">
                            <i class="fa fa-search"></i>
                        </button>
                    }
                </div>
            </div>
        </ul>
    </nav>
    <div class="nav3">
        <div class="dropdown">
            <button class="dropbtn">
                Categories
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="@Url.Action("Results", "Product")">Romance</a>
                <a href="@Url.Action("Results", "Product")">Horror</a>
                <a href="@Url.Action("Results", "Product")">Drama</a>
            </div>
        </div>
        <a href="@Url.Action("Results", "Product")">Best Sellers</a>
        <a href="@Url.Action("Results", "Product")">Sale</a>
        <a href="@Url.Action("Results", "Product")">Bundles</a>
    </div>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js'></script>

    <script src="~/Scripts/Test.js"></script>

    <div>
        @RenderBody()
    </div>
</body>
</html>
